.nav__list {
  display: flex;
  justify-content: space-between;
  width: 443px;
}

.nav__item {
  list-style: none;
}

.nav__link {
  display: block;
  @include font(1.5rem, 2.4rem);
  color: $color-title;
  @extend %font-second;
  @extend %transition;
  text-decoration: none;
  cursor: pointer;

  &-active {
    color: $color-text-button;
    border-bottom: 3px solid $color-main;
    cursor: default;
  }

  &:hover {
    color: $color-text-button;
  }
}