.only {
  background: url(../../img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.only__wrapper {
  padding-top: 180px;
  display: flex;
  justify-content: space-between;
}

.only__content {
  padding-top: 163px;
  max-width: 460px;
}

.only__title {
  max-width: 310px;
}

.only__text {
  padding: 42px 0 57px;
  @include font(1.5rem, 2.4rem);
  @extend %font-second;
  color: $color-text-2;
}

.only__img {
  background: url(../../img/puppy.png);
  background-size: auto;
  width: 698px;
  height: 728px;
}