* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  @extend %font-first;
}

h1 {
  @include font(4.4rem, 5.72rem);
  color: $color-text;
}

h2 {
  @include font(3.5rem, 4.55rem);
  letter-spacing: 0.06em;
  color: $color-title;
}