.logo {
  cursor: pointer;

  &:hover {
    .logo__title {
      opacity: 0.7;
    }

    .logo__subtitle {
      opacity: 0.7;
    }
  }
}

.logo__title {
  color: $color-main;
  @include font(3.2rem, 3.5rem);
  letter-spacing: 0.06em;
  transition: all .3s ease;
}

.logo__subtitle {
  color: $color-text;
  @extend %font-second;
  @include font(1.3rem, 1.5rem);
  letter-spacing: 0.1em;
  padding-top: 10px;
  padding-left: 4px;
  transition: all .3s ease;
}