.pagginations {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border: 2px solid $color-main;
  border-radius: 100px;
  cursor: pointer;
  @extend %transition;

  &:hover {
    background-color: $color-hover;
    border-color: $color-hover;
  }
}