$color-main: rgba(241, 205, 179, 1);
$color-hover: rgba(253, 220, 196, 1);
$color-link: rgba(250, 250, 250, 1);
$color-title: rgba(84, 84, 84, 1);
$color-text: rgba(255, 255, 255, 1);
$color-text-2: rgba(205, 205, 205, 1);
$color-text-dark: rgba(76, 76, 76, 1);
$color-text-button: rgba(41, 41, 41, 1);
$color-background: rgba(246, 246, 246, 1);

$content-width: 1200px;
$tabler-width: 768px;
$mobile-width: 320px;