.button, body {
  font-family: "Georgia";
}

.donation__text, .about__text, .only__text, .nav__link, .logo__subtitle {
  font-family: "Arial";
}

.pets__card, .nav__link, .pagginations, .button, .logo__subtitle, .logo__title {
  transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

h1 {
  font-size: 4.4rem;
  line-height: 5.72rem;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 3.5rem;
  line-height: 4.55rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  color: rgb(84, 84, 84);
}

.logo {
  display: block;
  cursor: pointer;
  text-decoration: none;
}
.logo:hover .logo__title {
  opacity: 0.7;
}
.logo:hover .logo__subtitle {
  opacity: 0.7;
}

.logo__title {
  color: rgb(241, 205, 179);
  font-size: 3.2rem;
  line-height: 3.5rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
}

.logo__subtitle {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
  padding-top: 10px;
  padding-left: 4px;
}

.button {
  padding: 13px 43px;
  background-color: rgb(241, 205, 179);
  color: rgb(41, 41, 41);
  border: 2px solid rgb(241, 205, 179);
  border-radius: 100px;
  font-size: 1.7rem;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(253, 220, 196);
  border-color: rgb(253, 220, 196);
}

.pagginations {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border: 2px solid rgb(241, 205, 179);
  border-radius: 100px;
  cursor: pointer;
}
.pagginations:hover {
  background-color: rgb(253, 220, 196);
  border-color: rgb(253, 220, 196);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  padding-top: 40px;
  background: url(/img/footer-background.png) center no-repeat;
  background-size: cover;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__contacts {
  padding: 16px 0 60px;
  max-width: 279px;
}

.footer__locations {
  padding: 16px 0 60px;
  max-width: 302px;
}

.footer__title {
  font-size: 3.5rem;
  line-height: 4.55rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  color: #fff;
}

.footer__item {
  display: flex;
  align-items: center;
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  color: rgb(241, 205, 179);
  cursor: pointer;
}
.footer__item__icon {
  margin-right: 20px;
}
.footer__item__email {
  margin: 42px 0 43px;
}
.footer__item__address1 {
  margin: 32px 0 33px;
}

.footer__img {
  background: url(/img/footer-puppy.png);
  width: 300px;
  height: 310px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  width: 443px;
}

.nav__link {
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
  color: rgb(205, 205, 205);
  list-style: none;
  cursor: pointer;
}
.nav__link-active {
  color: rgb(250, 250, 250);
  border-bottom: 3px solid rgb(241, 205, 179);
}
.nav__link:hover {
  color: rgb(250, 250, 250);
}

.only {
  background: url(/img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.only__wrapper {
  padding-top: 180px;
  display: flex;
  justify-content: space-between;
}

.only__content {
  padding-top: 163px;
  max-width: 460px;
}

.only__title {
  max-width: 310px;
}

.only__text {
  padding: 42px 0;
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
  color: rgb(205, 205, 205);
}

.only__img {
  background: url(/img/puppy.png);
  background-size: auto;
  width: 698px;
  height: 728px;
}

.about {
  padding: 80px 0 99px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 850px;
}

.about__img {
  background: url(/img/about.png);
  height: 408px;
  width: 300px;
}

.about__content {
  padding: 14px 0;
  max-width: 430px;
}

.about__title {
  max-width: 370px;
}

.about__text {
  margin-top: 25px;
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
  color: rgb(76, 76, 76);
}

.pets {
  padding: 80px 0 101px;
  background-color: rgb(246, 246, 246);
}

.pets__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pets__title {
  max-width: 400px;
  padding-bottom: 59px;
  text-align: center;
}

.pets__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: normal;
}

.pets__cards {
  display: flex;
  -moz-column-gap: 90px;
       column-gap: 90px;
}

.pets__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  width: 270px;
  height: 435px;
  background-color: rgb(250, 250, 250);
}
.pets__card:hover {
  background-color: #fff;
}
.pets__card:hover .pets__card__button {
  background-color: rgb(253, 220, 196);
  border-color: rgb(253, 220, 196);
}

.pets__card__img {
  border-radius: 9px 9px 0 0;
}

.pets__card__name {
  margin: 30px 0;
  font-size: 2rem;
  line-height: 2.272rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  color: rgb(84, 84, 84);
}

.pets__card__button {
  background-color: #fff;
}

.pets__arrow {
  height: 6px;
  width: 14px;
}

.pets__button {
  margin-top: 59px;
}

.help {
  padding: 80px 0 99px;
}

.help__title {
  margin: 0 auto 60px;
  max-width: 310px;
  text-align: center;
}

.help__container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 120px;
       column-gap: 120px;
  row-gap: 55px;
  max-width: 1030px;
}

.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__item__text {
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  color: rgb(84, 84, 84);
  margin-top: 30px;
}

.donation {
  padding: 80px 0 99px;
  background-color: rgb(246, 246, 246);
}

.donation__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 915px;
}

.donation__img {
  background-image: url(/img/dog.png);
  margin-top: 11px;
  width: 505px;
  height: 261px;
}

.donation__content {
  max-width: 380px;
}

.donation__title {
  max-width: 300px;
}

.donation__subtitle {
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  color: rgb(76, 76, 76);
  margin: 20px 0;
}

.donation__credit-card {
  display: flex;
  justify-content: space-between;
  border-radius: 9px;
  padding: 10px 15px;
  width: 349px;
  height: 43px;
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 400;
  font-style: normal;
  color: rgb(76, 76, 76);
  letter-spacing: 0.06em;
  background-color: rgb(241, 205, 179);
  text-decoration: none;
  cursor: pointer;
}

.donation__text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-style: italic;
  color: rgb(178, 178, 178);
  margin-top: 20px;
}/*# sourceMappingURL=style.css.map */